# Prevent large or unnecessary files from being tracked
__pycache__/
*.pt
*.pkl
*.log
*.sqlite3
*.h5
*.ckpt
*.onnx

# Avoid virtual environments
venv/
env/


# VS Code folders
.vscode/

# OS metadata
.DS_Store
Thumbs.db